html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.main {
    font-size: 24px;
}

.m-b-md {
    margin-bottom: 30px;
}
label {
  display: inline-block;
  float: left;
  clear: left;
  width: 170px;
  text-align: right;
}
input {
  display: inline-block;
  float: left;
  margin-left: 2em;
}
/* styling of autocomplete suggestions */
.tt-dataset {
  background-color: white;
  font-size: 18px;
  border: solid 1px #dddddd;
  padding-top: 5px;
}
.tt-suggestion {
  padding: 5px 2px;
}
.tt-open.tt-menu {
  left: 1em !important;
  top: 150% !important;
}
span.twitter-typeahead {
  float:left;
}
